body{
  background:DarkSeaGreen;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  color: black;
  background:DarkSeaGreen;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
}
.assign {
  display: flex;
  padding: 10;
  margin: 10;
  background: seagreen;
  }
  .assign img {
  width: 200px;
  padding: 10px;
  }
