body{
  background:DarkSeaGreen;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
h1{
  color: midnightblue;
  background:DarkSeaGreen;
  text-align:center;
  width: 100%;
}
h1:hover{
  color: indigo;
  text-align: center;
  width: 100%;
} 
a {
 text-decoration: none;
 color: midnightblue;
}
a:hover{
  text-decoration: none;
  color: purple;
}
.assign {
    padding: 10px;
    margin: 10px;
    background: seagreen;
    width: 20%;
    box-shadow: 8px 8px indigo;
    display: inline-block;
    border-radius: 20px;
  }
  .assign img {
  width: 200px;
  padding: 0px;
  border: 3px solid midnightblue;
  border-radius: 20px;
  }
.assign img:hover{
  width: 200px;
  padding: 0px;
  border: 3px dotted purple;
  border-radius: 20px;
}
p{
  color: #008080;
}
